@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body {
    padding: 0;
    margin: 0
}

* {
    font-family: 'Robot', sans-serif;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
}

.item {
    width: 100%;
    border-bottom: 1px solid black;
}

.item h2  {
    margin-left: 1em;
    margin-right: 1em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.tag {
    font-size: 0.6em;
    background-color: #309a9d;
    margin: 0.2em;
    padding: 0.2em 0.5em;
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
}

h2 .tag:first-child {
    margin-left: 1em;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

.button-secondary {
    opacity: 0.5;
}

.set-row {
    margin: 1em;
}

.label {
    font-weight: lighter;
    font-size: 90%;
    margin-bottom: 0.5em;
}

input[type=number] {
    width: 100%;
    font-size: 2em;
}

.input-container {
    width: 100%;
    padding: 1em;
}

.done {
    opacity: 0.5;
}
